<div id="compose" class="sidebar pure-u-1-4">
    <div class="header">
        <h1><a href="/"><span class="folk">folk</span><span class="rnn">rnn</span></a></h1>
        <p>generate a folk tune with a recurrent neural network</p>
        <div id="generate">
            <form class="pure-form pure-g">
                {% load widget_tweaks %}
                {% csrf_token %}
                <fieldset class="pure-input-1">
                    <label for="compose_button">Press to generate tune</label>
                    <input id="compose_button" type="button" value="Compose" class="pure-button pure-button-primary pure-u-1">
                </fieldset>
                <fieldset class="pure-input-1">
                    <legend>RNN Properties</legend>
                    <div class="pure-u-1">
                        <label for="{{ compose_form.model.id_for_label }}">Model</label>
                        {% render_field compose_form.model class+="pure-input-1" title="Select a network" %}
                    </div>
                    <div class="pure-u-1-2">
                        <label for="{{ compose_form.temp.id_for_label }}">Temperature</label>
                        {% render_field compose_form.temp class+="pure-input-1" title="A number between 0.1 and 10 saying how adventurous the generation will be. Ex: 1.0 is normal. 2.0 is more wild. 0.5 is more cautious." %}
                    </div>
                    <div class="pure-u-1-2" style="position: relative;">
                        <div id="seed_auto_div" class="pure-u-1" style="position: absolute; top: 0; left: 0">
                            <label for="seed_auto">Seed</label>
                            <input id="seed_auto" type="text" class="pure-input-1 pure-button-primary" title="Revert the random number generator to producing a new seed for every compose.">
                        </div>
                        <div id="seed_field_div" class="pure-u-1" style="position: absolute; top: 0; left: 0">
                            <label for="{{ compose_form.seed.id_for_label }}">&nbsp;</label>
                            {% render_field compose_form.seed class+="pure-input-1 no-spinner" title="The random number generator seed. Change this number to generate a different tune with the same settings." %}
                        </div>
                    </div>
                </fieldset>
                <fieldset class="pure-input-1">
                    <legend>Tune Properties</legend>
                    <div class="pure-u-1-2">
                        <label for="{{ compose_form.unitnotelength.id_for_label }}">ABC Unit</label>
                        {% render_field compose_form.unitnotelength class+="pure-input-1" title="Choose what note length is used in the ABC" %}
                    </div>
                    <div class="pure-u-1-2">
                        <label for="{{ compose_form.meter.id_for_label }}">Meter</label>
                        {% render_field compose_form.meter class+="pure-input-1" title="Choose a meter for the tune" %}
                    </div>
                    <div class="pure-u-1-2">
                        <label for="{{ compose_form.key.id_for_label }}">Mode</label>
                        {% render_field compose_form.key class+="pure-input-1" title="Choose a mode for the tune" %}
                    </div>
                    <div class="pure-u-1">
                    <label for="{{ compose_form.start_abc.id_for_label }}">Initial ABC</label>
                        {% render_field compose_form.start_abc class+="pure-input-1" rows="3" placeholder="Enter start of tune in ABC notation" title="Example: |: (3 D E F" autocomplete="off" spellcheck="false" autocapitalize="none" %}
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
</div>