<div id="footer">
    <h1 class="content-subhead">Credits</h1>
    <div class="post-description">
        <p>folk-rnn is a project funded by the <a href="http://www.ahrc.ac.uk/" target="_blank">UK Arts and Humanities Research Council</a>, grant no. <a href="http://gtr.rcuk.ac.uk/projects?ref=AH%2FR004706%2F1" target="_blank">AH/R004706/1: "Engaging three user communities with applications and outcomes of computational music creativity"</a>. The generated tunes and the patterns of use that generated them may be used for research purposes, such as this grant.</p>
        <!-- <p>See also: <a href="http://themachinefolksession.org">The Machine Folk Session</a>.</p> --> 
        <p>The original folk-rnn project page, where the algorithm and models were developed, is here: <a href="https://github.com/IraKorshunova/folk-rnn" target="_blank">https://github.com/IraKorshunova/folk-rnn</a>. It links to several compositions created by folk-rnn that have been performed live, analysed and so on.</p>
        <p>Web application<!-- s --> by <a href="http://tobyz.net">Toby Harris</a>.</p>
    </div>
</div>