<div id="header">
    <h1 class="content-subhead">About Folk RNN</h1>
    <div class="post-description">
        <p>This website lets you generate music using an artificial intelligence called a "recurrent neural network" (RNN). It's called "folk-rnn" because the RNN is trained on transcriptions of folk music.</p>
        <p>The transcriptions are in <a href="http://abcnotation.com/wiki/abc:standard:v2.1" target="_blank">ABC format</a>, but also displayed in common notation. You can also copy and paste the ABC <a href="http://mandolintab.net/abcconverter.php" target="_blank">here</a> to transpose it to any key you want. (More technical information, as well as links to several compositions created using this program, can be found at the <a href="https://github.com/IraKorshunova/folk-rnn" target="_blank">folk-rnn project webpage</a>.)</p>
    </div>
</div>