<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Folk RNN – {% block title %}Generate folk tunes with a recurrent neural network{% endblock %}</title>
        
        <link rel="stylesheet" href="/static/pure/pure-min.css">
        <link rel="stylesheet" href="/static/composer.css">
        {% include "_abcjs-headend.html" %}
        {% block headend %}{% endblock %}
    </head>
    <body>
        <div class="splash-overlay">
            <a href="{% url 'competition' %}"><img src="/static/folk_rnn_competition.svg" alt="folk-rnn composition competition"></a>
        </div>
        <div id="layout" class="pure-g">
            {% include "composer/_compose.html" %}
            <div class="content pure-u-3-4">
                {% include "composer/_header.html" %}
                {% include "composer/_tune.html" %}
                {% include "composer/_footer.html" %}
            </div>
        </div>
        <script src="/static/channels/js/websocketbridge.js"></script>
        <script src="/static/folk_rnn_models.js"></script>
        <script src="/static/folk_rnn_model_utilities.js"></script>
        <script src="/static/folk_rnn_websocket_utilities.js"></script>
        <script src="/static/folk_rnn_constants.js"></script>
        <script src="/static/folk_rnn_client.js"></script>
        <script>window.addEventListener("load", folkrnn.initialise, false);</script>
        {% if tune_id %}
        <script>window.addEventListener("load", function() {
            folkrnn.showAboutSection(false);
            folkrnn.setComposeParametersFromTune = true; 
            folkrnn.stateManager.addTune({{ tune_id }});
            }, false);
        </script>
        {% else %}
        <script>window.addEventListener("load", function() {
            folkrnn.showAboutSection(true);
            }, false);
        </script>
        {% endif %}
        {% block bodyend %}{% endblock %}
    </body>
</html>