{% extends "archiver/base.html" %}

{% block content %}

<div id="signup" class="section">
    <div class="section-meta">
        <h2>Sign up</h2>
    </div>
    <div class="section-body">
        <p>Thanks for signing up. Unfortunately, the activation key is not valid.</p>
        <p>The site received this key:</p>
        <pre>https://themachinefolksession.org{% url 'registration_activate' activation_key=activation_key %}</pre>
        <p>Is that the same as what you see in the email? If not, try copying and pasting into the address bar of your browser.</p>
        <p>If it is the same, has the key expired? The email says how many days it is valid for.</p>
    </div>
</div>

{% endblock %}