{% extends "archiver/base.html" %}

{% block title %}Sign-up{% endblock %}

{% block content %}
<div id="signup" class="section">
    <div class="section-meta">
        <h2>Sign up</h2>
    </div>
    <div class="section-body">
        <p>Have a read of the <em>house rules</em> first: <a href="{% url 'help' %}#rules">rules</a> and <a href="{% url 'help' %}#notes">notes</a>.</p>
        <form method="post" action="{% url 'registration_register' %}" class="pure-form pure-form-stacked">
            {% load widget_tweaks %}
            {{ form.non_field_errors }}
            <fieldset>
                <div class="pure-g">
                    <div class="pure-control-group pure-u-1-2">
                        {{ form.first_name.errors }}
                        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label_tag }}</label>
                        {% render_field form.first_name class+="pure-input-1" title="Enter your first name" placeholder="e.g. Ada"%}
                    </div>
                    <div class="pure-control-group pure-u-1-2">
                        {{ form.last_name.errors }}
                        <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label_tag }}</label>
                        {% render_field form.last_name class+="pure-input-1" title="Enter your last name" placeholder="e.g. Lovelace"%}
                    </div>
                    <div class="pure-control-group pure-u-1">
                        {{ form.email.errors }}
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
                        {% render_field form.email class+="pure-input-1" title="Enter email address" placeholder="e.g. ada@lovelace.org" %}
                    </div>
                    <div class="pure-control-group pure-u-1">
                        {{ form.password1.errors }}
                        <label for="{{ form.password1.id_for_label }}">{{ form.password1.label_tag }}</label>
                        {% render_field form.password1 class+="pure-input-1" title="Enter password" placeholder="e.g. four-common-random-words"%}
                    </div>
                    <div class="pure-control-group pure-u-1">
                        {{ form.password2.errors }}
                        <label for="{{ form.password2.id_for_label }}">{{ form.password2.label_tag }}</label>
                        {% render_field form.password2 class+="pure-input-1" title="Enter password" placeholder="e.g. four-common-random-words"%}
                    </div>
                    <div class="pure-control-group pure-u-1">
                        <input type="submit" value="Sign up" class="pure-button pure-button-primary pure-input-1-2"/>
                        <input type="hidden" name="next" value="{{ next }}" />
                        {% csrf_token %}
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}