{% extends "archiver/base.html" %}

{% block content %}

<div id="signup">
    <div class="section-meta">
        <h2>Sign up</h2>
    </div>
    <div class="section-body">
        {% for field, error in form.errors.items %}
        <p>{{ field }}, {{ error|escape }}</p>
        {% endfor %}

        <form method="post" action="{% url 'signup' %}" class="pure-form pure-form-stacked">
        {% load widget_tweaks %}
            <fieldset>
                <div class="pure-g">
                    <div class="pure-control-group pure-u-1-2">
                        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label_tag }}</label>
                        {% render_field form.first_name class+="pure-input-23-24" title="Enter your first name" placeholder="e.g. Ada"%}
                    </div>
                    <div class="pure-control-group pure-u-1-2">
                        <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label_tag }}</label>
                        {% render_field form.last_name class+="pure-input-1" title="Enter your last name" placeholder="e.g. Lovelace"%}
                    </div>
                    <div class="pure-control-group pure-u-1">
                        <label for="{{ form.password.id_for_label }}">{{ form.password.label_tag }}</label>
                        {% render_field form.password class+="pure-input-1" title="Enter password" placeholder="e.g. four-common-random-words"%}
                    </div>
                    <div class="pure-control-group pure-u-1">
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
                        {% render_field form.email class+="pure-input-1" title="Enter email address" placeholder="e.g. ada@lovelace.org" %}
                    </div>
                    <div class="pure-control-group pure-u-1">
                        <input type="submit" value="Sign up" class="pure-button pure-button-primary pure-input-1-2"/>
                        <input type="hidden" name="next" value="{{ next }}" />
                        {% csrf_token %}
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}