{% extends "base.html" %}

{% block title %}Archive Tune{% endblock %}

{% block headend %}{% include "_abcjs-headend.html" %}{% endblock %}
{% block bodyend %}{% include "_abcjs-bodyend.html" %}{% endblock %}

{% block content %}
{% load humanize %}
<h1>Tune Archive</h1>
<div id="composition">
    <p>The composition –</p>
    <textarea id='abc' readonly="readonly" cols={{ tune_cols }} rows={{ tune_rows }}>{{ tune }}</textarea>
</div>    
<div id="midi"></div>
<div id="midi-download"></div>
<div id="warnings"></div>
<div id="music"></div>
<div id="paper0"></div>
<div id="paper1"></div>
<div id="paper2"></div>
<div id="paper3"></div>
<div id="selection"></div>

<div id="comments">
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input id="new_comment_submit" type="submit" value="Submit">
    </form>
    {% if comments %}
    <ul id="comment_list">
        {% for comment in comments %}
        <li>{{ comment.text }}<br>— {{ comment.author }}, {{ comment.submitted|naturalday }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
