{% extends "base.html" %}

{% block title %}Candidate Tune{% endblock %}

{% block headend %}{% include "_abcjs-headend.html" %}{% endblock %}
{% block bodyend %}{% include "_abcjs-bodyend.html" %}{% endblock %}

{% block content %}
<h1>Candidate tune no{{ candidate_id }}</h1>
<div id="compose_ui">
    <div id="composition">
        <p>The composition –</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            {% if show_user %}<input id="save_button" name="save" type="submit" value="Save">{% endif %}
            <input id="archive_button" type="submit" name="archive" value="Archive Tune">
        </form>
    </div>
    <div id="composition_metadata">
        <p>Was made with –<br>
            <ul>
                <li>RNN model: {{ model }}</li>
                <li>RNN seed: {{ seed }}</li>
                <li>RNN temperature: {{ temp }}</li>
                <li>Prime tokens: {{ prime_tokens }}</li>
            </ul>
        </p>
        <p>The task was –<br>
            <ul>
                <li>Requested at: {{ requested|date:"r" }}</li>
                <li>Composition took: {{ rnn_duration|floatformat:"0" }}s</li>
            </ul>
        </p>
    </div>
    <div id="midi"></div>
    <div id="midi-download"></div>
    <div id="warnings"></div>
    <div id="music"></div>
    <div id="paper0"></div>
    <div id="paper1"></div>
    <div id="paper2"></div>
    <div id="paper3"></div>
    <div id="selection"></div>
    <form action="/">
       <input id="compose_button" type="submit" value="Start again...">
    </form> 
</div>
{% endblock %}
