<html>
    <head>
        <title>Folk RNN Composer</title>
    </head>
    <body>
        <h1>Compose</h1>
        <div id="compose_ui">
            Compose a folk music tune using a recurrent neural network.
            <form method="POST">
                {% csrf_token %}
                <input name="seed_text" id="id_seed_text" placeholder="Enter start of tune in ABC notation">
                <input id="compose_button" type="submit" value="Compose...">
            </form>
            <p>Seed: {{ seed_text }}</p>
        </div>
    </body>
</html>