{% load humanize %}
<div id="activity">
    <div id="recent-tunes">
        <div class="section-meta">
        <h2>Recent tunes</h2>
        </div>
        <div class="section-body">
            <ul>
                {% for item in tunes_settings %}
                <li>
                <h3><a href="/tune/{{ item.id }}">{{item.title}}</a></h3>
                <div id="notation-{{ forloop.counter }}"></div>
                {% if item.rnn_tune %}{# tune model from folk-rnn #}
                <p class="meta">Tune submitted from <a href="//folkrnn.org{{ item.rnn_tune.url }}">folkrnn.org</a> {{ item.submitted|naturalday }}</p>
                {% elif not item.tune %}{# tune model not from folk-rnn #}
                <p class="meta">Original tune submitted {{ item.submitted|naturalday }}</p>
                {% else %}{# setting model #}
                <p class="meta">Setting of <a href="{% url 'tune' tune_id=item.id %}">{{ item.tune.title }}</a> added by <a href="#">{{ item.author }}</a> {{ item.submitted|naturalday }}.</p>
                {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="recent-comments">
        <div class="section-meta">
            <h2>Recent comments</h2>
        </div>
        <div class="section-body">
            <ul>
                {% for comment in comments %}
                <li>
                <h3><a href="/tune/{{ comment.tune.id }}">Re: {{ comment.tune.title }}</a></h3>
                <p>{{ comment.text}}</p>
                <p class="meta">Posted by <a href="#">{{ comment.author }}</a> {{ comment.submitted|naturalday }}.</li>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script type="text/javascript">
    window.addEventListener("load", function() {
        const params = {
            paddingleft:0,
            paddingright:0,
            responsive: "resize",
        }
        {% for item in tunes_settings %}
        ABCJS.renderAbc("notation-{{ forloop.counter }}", "{{ item.abc_trimmed|escapejs }}", params);
        {% endfor %}
    }, false);
    </script>
</div>