{% load humanize %}
{% if include_actor %}
    <a href="{{ action.actor.get_absolute_url }}">{{ action.actor.get_full_name }}</a> {{ action.verb }} <a href="{{ action.action_object.get_absolute_url }}">the {{ action.action_object_content_type.name }}</a>
{% else %}
    <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object_content_type.name | capfirst }}</a> {{ action.verb }}
{% endif %}
{% if action.action_object and action.target %}
    {% if action.verb == 'added' %}to
    {% elif action.verb == 'removed' %}from
    {% else %}FIXME: target word for verb
    {% endif %}
{% endif %}
{% if action.target %}
    {% if action.target_content_type.name == "collection" %}
        <a href="{{ action.target.get_absolute_url }}">{% if include_actor %}their {% endif %}tunebook</a>
    {% elif action.target.get_absolute_url %}<a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>
    {% else %}<a href="{{ action.target_url }}">{{ action.target }}</a>{% endif %}
{% endif %}
{{ action.timestamp|naturalday }}