{% load humanize %}
{% load embed_video_tags %}
<ul>
    {% for action in actions %}
    <li>
    {% if action.action_object_content_type.name == 'tune' or action.action_object_content_type.name == 'setting' %}
        <h3><a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object.title }}</a></h3>
        <div id="notation-{{ id_prefix }}{{ forloop.counter }}"></div>
    {% elif 'comment' in action.action_object_content_type.name %}
        <p><a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object.text }}</a></p>
    {% elif action.action_object_content_type.name == 'recording' %}
        <p>{% video action.action_object.video is_secure=True as my_video %}
          {% video my_video%}
        {% endvideo %}</p>
    {% elif action.action_object_content_type.name == 'event' %}
        <h3><a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object.title }}</a></h3>
    {% elif action.action_object_content_type.name == 'competition tune vote' or action.action_object_content_type.name == 'competition recording vote'%}
        <h3><a href="{{ action.action_object.votable.competition.get_absolute_url }}">{{ action.action_object.votable.competition.title }}</a></h3>
    {% elif action.action_object_content_type.name == 'competition' %}
        <h3><a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object.title }}</a></h3>
    {% else %}
        <p>TODO: implement preview of action: {{ action }}</p>
    {% endif %}
        <p class="meta">{% include 'archiver/_action.html' %}</p>
    </li>
    {% empty %}
    <li><p>{{ empty_message|default:'No tunes' }}</p></li>
    {% endfor %}
    <script type="text/javascript">
    window.addEventListener("load", function() {
        const params = {
            paddingleft:0,
            paddingright:0,
            responsive: "resize",
        }
        {% for action in actions %}
        {% if action.action_object_content_type.name == 'tune' or action.action_object_content_type.name == 'setting' %}
            ABCJS.renderAbc("notation-{{ id_prefix }}{{ forloop.counter }}", "{{ action.action_object.abc_preview|escapejs }}", params);
        {% endif %}
        {% endfor %}
    }, false);
    </script>
</ul>
