{% load humanize %}
{% load embed_video_tags %}
{% load markdown_deux_tags %}
<div id="recording" class="section">
    <div class="section-meta">
        <h2>{{ recording.title }}</h2>
    {% if recording.event %}
        <p class="meta">Recorded at <a href="{{ recording.event.get_absolute_url }}">{{ recording.event.title }}</a></p>
    {% endif %}
        <p class="meta">Recorded on {{ recording.date | naturalday }}</p>
    {% if recording.url %}
        <p class="meta">More info:<br><a href="{{ recording.url }}">{{ recording.url }}</a></p>
    {% endif %}
        <p class="meta">Tunes:</p>{# TODO: pluralise #}
        <ul class="meta">
        {% for tunerecording in recording.tunerecording_set.all %}
            <li><a href="{{ tunerecording.tune.get_absolute_url }}">{{ tunerecording.tune.title }}</a></li>
        {% empty %}
            <li>No tunes archived here</li>
        {% endfor %}
        </ul>    
        <p class="meta">Added by <a href="{{ recording.author.get_absolute_url }}">{{ recording.author.get_full_name }}</a></p> 
    </div>
    <div class="section-body">
        {% video recording.video is_secure=True as my_video %}
          {% video my_video%}
          <p class="meta"><a href="{{ recording.video }}">View on {{ my_video.backend | cut:"Backend" }}</a></p>
        {% endvideo %}
        {{ recording.body | markdown }}
    </div>
</div>