{% load humanize %}
{% load humanize_tobyz %}
<ul>
    {% for tune in tunes %}
    <li>
    <h3><a href="{% url 'tune' tune_id=tune.id %}">{{tune.title}}</a></h3>
    <div id="notation-{{ id_prefix }}{{ forloop.counter }}"></div>
    <p class="meta">
    {% if tune.rnn_tune %}
    Tune submitted from <a href="{{ tune.rnn_tune.url }}">folkrnn.org</a> {{ tune.submitted|naturalday }}. 
    {% else %}
    Original tune submitted {{ tune.submitted|naturalday }}. 
    {% endif %}
    {% if tune.tunebook__count > 0 %}In {{ tune.tunebook__count|apnumber }} tunebook{{ tune.tunebook__count|pluralize }}. {% endif %}
    {% if tune.setting__count > 0 %}{{ tune.setting__count|apnumber|capfirst }} contributed setting{{ tune.setting__count|pluralize }}. {% endif %}
    {% if tune.comment__count > 0 %}{{ tune.comment__count|apnumber|capfirst }} comment{{ tune.comment__count|pluralize }}. {% endif %}
    {% if tune.recording__count > 0 %}Has been recorded {{ tune.recording__count|once_twice_xtimes }}. {% endif %}
    {% if tune.event__count > 0 %}Performed at {{ tune.event__count|apnumber }} event{{ tune.event__count|pluralize }}. {% endif %}
    </p>
    </li>
    {% empty %}
    <li><p>{{ empty_message|default:'No tunes' }}</p></li>
    {% endfor %}
    <script type="text/javascript">
    window.addEventListener("load", function() {
        const params = {
            paddingleft:0,
            paddingright:0,
            responsive: "resize",
        }
        {% for tune in tunes %}
        ABCJS.renderAbc("notation-{{ id_prefix }}{{ forloop.counter }}", "{{ tune.abc_preview|escapejs }}", params);
        {% endfor %}
    }, false);
    </script>
</ul>