{% load humanize %}
<ul>
    {% for item in tunebook %}
    <li>
    {% if item.tune %}
    <h3><a href="{{ item.tune.get_absolute_url }}">{{item.tune.title}}</a></h3>
    <div id="notation-tunebook-{{ forloop.counter }}"></div>
    <p class="meta">Tune added to tunebook {{ item.submitted|naturalday }}</p>
    {% elif item.setting %}{# setting model #}
    <h3><a href="{{ item.setting.get_absolute_url }}">{{item.setting.title}}</a></h3>
    <div id="notation-tunebook-{{ forloop.counter }}"></div>
    <p class="meta">Setting of <a href="{{ item.setting.tune.get_absolute_url }}">{{ item.setting.tune.title }}</a> added to tunebook {{ item.submitted|naturalday }}</p>
    {% endif %}
    </li>
    {% empty %}
    {% if user == profile %}
    <li>Your tunebook is empty. To add a tune or setting, go to the tune’s page and you’ll find ‘In your tunebook’ in the sidebar.</li>
    {% else %}
    <li>{{ profile.get_short_name }}’s tunebook is empty.</li>
    {% endif %}
    {% endfor %}
    <script type="text/javascript">
    window.addEventListener("load", function() {
        const params = {
            paddingleft:0,
            paddingright:0,
            responsive: "resize",
        }
        {% for item in tunebook %}
        {% with item.tune|default:item.setting as tune %}
        ABCJS.renderAbc("notation-tunebook-{{ forloop.counter }}", "{{ tune.abc_preview|escapejs }}", params);
        {% endwith %}
        {% endfor %}
    }, false);
    </script>
</ul>
