<html>
    <head>
        <title>The Machine Folk Session – {% block title %}An archive of folk music co-composed with machines{% endblock %}</title>
        {% block headend %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <h1><a href="/">The <em>machine folk</em> Session</a></h1>
            <p>folk-rnn is a computer model that generates transcriptions in <a href="http://abcnotation.com/wiki/abc:standard:v2.1" target="_blank">ABC format</a>. This model was trained on about 23,000 transcriptions collected from <a href="http://thesession.org" target="_blank">http://thesession.org</a>. This website provides an interface to this model so that you can create your own new tunes. (More technical information about this model, as well as links to several compositions created using it, can be found at the <a href="https://github.com/IraKorshunova/folk-rnn" target="_blank">folk-rnn project webpage</a>.)</p>
            <hr>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <hr>
            <p> The Machine Folk Session is a project funded by the <a href="http://www.ahrc.ac.uk/" target="_blank">UK Arts and Humanities Research Council</a>, grant no. <a href="http://gtr.rcuk.ac.uk/projects?ref=AH%2FR004706%2F1" target="_blank">AH/R004706/1: "Engaging three user communities with applications and outcomes of computational music creativity"<a/>. See also: <a href="http://folkrnn.org">folk-rnn</a>. Web applications by <a href="http://tobyz.net">Toby Harris</a>.</p></p>
        </div>
        {% block bodyend %}{% endblock %}
    </body>
</html>