<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>The Machine Folk Session – {% block title %}An archive of folk music co-composed with machines{% endblock %}</title>

        <link rel="stylesheet" href="/static/pure/pure-min.css">
        <link rel="stylesheet" href="/static/archiver.css">
        {% block headend %}{% endblock %}
    </head>
    <body>
        <div id="layout">
            <div class="header">
                <div class="logo">
                    <a href="/">
                    <span class="thesession">The</span><span class="machinefolk">Machine Folk</span><span class="thesession">Session</span>
                    </a>
                </div>
                <div class="main-menu pure-menu">
                    <ul class="pure-menu-horizontal pure-menu-list">
                        <li class="pure-menu-item{% if '/tune' in request.path %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/tunes">Tunes</a></li>
                        <li class="pure-menu-item{% if '/recordings' in request.path %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/recordings">Recordings</a></li>
                        <li class="pure-menu-item{% if '/events' in request.path %} pure-menu-selected{% endif %}"><a class="pure-menu-link" href="/events">Events</a></li>
                    </ul>
                </div>
                {{ context }}
                <div class="sub-menu">
                       {% if user.is_authenticated %}<a href="{{ user.get_absolute_url }}">{{ user.get_short_name }}</a>{% else %}community{% endif %}: {% if user.is_authenticated %}<a href="{% url 'logout' %}">log out</a>{% else %}<a href="{% url 'login' %}?next={{ request.path }}">log in</a> or <a href="{% url 'django_registration_register' %}">sign up</a>{% endif %}; <a href="/submit">submit a tune</a>; <a href="/tune-of-the-month">tune of the month</a>. <a href="{% url 'help' %}">Help</a>
                </div>
            </div>
            <div class="main">
                <div id="content">
                {% block content %}{% endblock %}
                </div>
                <div id="footer" class="section">
                    <div class="section-meta">
                        <h2>About</h2>
                    </div>
                    <div class="section-body">
                        <p> The Machine Folk Session is a project funded by the <a href="http://www.ahrc.ac.uk/" target="_blank">UK Arts and Humanities Research Council</a>, grant no. <a href="http://gtr.rcuk.ac.uk/projects?ref=AH%2FR004706%2F1" target="_blank">AH/R004706/1: "Engaging three user communities with applications and outcomes of computational music creativity"</a>. See also: <a href="http://folkrnn.org">folk-rnn</a>, where you can generate folk tunes with a recurrent neural network.</p>
                        <p>Web applications by <a href="http://tobyz.net">Toby Harris</a>. Please report any issues <a href="https://github.com/tobyspark/folk-rnn-webapp/issues">here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        {% block bodyend %}{% endblock %}
    </body>
</html>