{% extends "archiver/base.html" %}

{% block title %}Competitions{% endblock %}

{% block headend %}{% include "_abcjs-headend.html" %}{% endblock %}

{% block content %}
{% load humanize %}
{% load embed_video_tags %}
{% load markdown_deux_tags %}
{% for competition in competitions %}
<div class="section">
    <div class="section-meta">
        <h2>{{ competition.title }}</h2>
        <p class="meta">Tune selection:<br>{{ competition.tune_vote_open.lower|naturalday }}–{{ competition.tune_vote_open.upper|naturalday }}</p>
        <p class="meta">Performance selection:<br> {{ competition.recording_vote_open.lower|naturalday }}–{{ competition.recording_vote_open.upper|naturalday }}</p>
        <p class="meta">Added by <a href="{% url 'user' user_id=competition.author.id %}">{{ competition.author.get_full_name }}</a></p>
    </div>
    <div class="section-body">
        {{ competition.text|markdown }}
        <ul>
        {% with tunes=competition.tune_set %}
            {% for tune in tunes %}
            <li>
                <h3><a href="{% url 'tune' tune_id=tune.id %}">{{tune.title}}</a></h3>
                <div id="notation-{{ id_prefix }}{{ forloop.counter }}"></div>
                <div id="midi-{{ id_prefix }}{{ forloop.counter }}"></div>
            </li>
            {% empty %}
            <li>
                <p>{{ empty_message|default:'No tunes' }}</p>
            </li>
            {% endfor %}
            <script type="text/javascript">
            window.addEventListener("load", function() {
                const params = {
                    paddingleft:0,
                    paddingright:0,
                    responsive: "resize",
                }
                {% for tune in tunes %}
                ABCJS.renderAbc("notation-{{ id_prefix }}{{ forloop.counter }}", "{{ tune.abc_preview|escapejs }}", params);
                ABCJS.renderMidi("midi-{{ id_prefix }}{{ forloop.counter }}", "{{ tune.abc|escapejs }}", params);
                {% endfor %}
            }, false);
            </script>
        {% endwith %}
        </ul>
    </div>
</div>
{% for recording in competition.recording_set %}
{% include 'archiver/_recording.html' %}
{% endfor %}

{% endfor %}
{% endblock %}
