{% extends "archiver/base.html" %}

{% block title %}Events{% endblock %}

{% block content %}
{% load humanize %}
{% load embed_video_tags %}
{% load markdown_deux_tags %}
{% for event in events %}
<div id="event" class="section">
    <div class="section-meta">
        <h2>{{ event.title }}</h2>
        <p class="meta">Happened {{ event.date | naturalday }}</p>
        <p class="meta">Recordings:</p>
        <ul class="meta">
        {% for recording in event.recording_set.all %}
            <li><a href="{{ recording.get_absolute_url }}">{{ recording.title }}</a></li>
        {% empty %}
            <li>No recordings archived here</li>
        {% endfor %}
        </ul>
        <p class="meta">Tunes:</p>
        <ul class="meta">
        {% for tuneevent in event.tuneevent_set.all %}
            <li><a href="{{ tuneevent.tune.get_absolute_url }}">{{ tuneevent.tune.title }}</a></li>
        {% empty %}
            <li>No tunes archived here</li>
        {% endfor %}
        </ul>
        <p class="meta">Added by <a href="{{ event.author.get_absolute_url }}">{{ event.author.get_full_name }}</a></p>
    </div>
    <div class="section-body">
        {% if event.image %}<img src="{{ MEDIA_URL }}{{ event.image }}">{% endif %}
        {{ event.body | markdown }}
    </div>
</div>
{% endfor %}
{% endblock %}
