{% extends "archiver/base.html" %}

{% block content %}
{% load humanize %}
{% load embed_video_tags %}
{% load markdown_deux_tags %}
{% for event in events %}
<div id="event" class="section">
    <div class="section-meta">
        <h2>{{ event.title }}</h2>
        <p class="meta">Happened {{ event.date | naturalday }}</p>
        <p class="meta">Recordings:</p>
        <ul class="meta">
        {% for recording in event.recording_set.all %}
            <li><a href="{% url 'recording' recording_id=recording.id %}">{{ recording.title }}</a></li>
        {% empty %}
            <li>No recordings archived here</li>
        {% endfor %}
        </ul>
        <p class="meta">Tunes:</p>
        <ul class="meta">
        {% for tuneevent in event.tuneevent_set.all %}
            <li><a href="{% url 'tune' tune_id=tuneevent.tune.id %}">{{ tuneevent.tune.title }}</a></li>
        {% empty %}
            <li>No tunes archived here</li>
        {% endfor %}
        </ul>
        <p class="meta">Added by <a href="{% url 'profile' profile_id=event.author.id %}">{{ event.author.get_full_name }}</a></p>
    </div>
    <div class="section-body">
        <img src="{{ MEDIA_URL }}{{ event.image }}">
        {{ event.body | markdown }}
    </div>
</div>
{% endfor %}
{% endblock %}
