{% extends "archiver/base.html" %}

{% block title %}Tunes{% endblock %}

{% block headend %}{% include "_abcjs-headend.html" %}{% endblock %}

{% block content %}
{% load widget_tweaks %}
{% load humanize %}
{% load i18n %}
<div id="search">
    <div id="search-tune" class="section">
        <div class="section-meta">
        <h2>Tune search</h2>
        {% include 'archiver/_paginator.html' with paginated=search_results %}
        </div>
        <div class="section-body">
            <form method="get" class="pure-form"> 
            <div class="pure-u-17-24">
            {% blocktrans asvar placeholder with x=search_examples|random %}e.g. {{ x }}{% endblocktrans %}
                {% render_field search_form.search class+="pure-input-1" title="Add text to search tunes by" placeholder=placeholder %}
            </div>
            <div class="pure-u-1-4">
                <input type="submit" value="Search" class="pure-button pure-button-primary pure-input-1"/>
            </div>
            </form>
            <div id="search-results">
            {% if search_text %}
            <p class="meta">{{ search_results.paginator.count|apnumber|capfirst }} matching recording{{ search_results.paginator.count|pluralize }} found. <a href="{% url 'tunes' %}">Clear search</a>.</p>
            {% else %}
            <p class="meta">Search through tunes, settings of those tunes, or their notes or comments.<br>Some examples: {% for example in search_examples %}<a href="{% url 'tunes' %}?search={{ example }}">{{ example }}</a>{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}</p>
            <p class="meta">Currently showing all tunes.</p>
            {% endif %}
            {% if order_by == 'popularity' %}
            <p class="meta">Most popular first. <a href="?search={{ search_text|urlencode:'' }}&order_by=added&page={{ search_results.number }}">Change to most recent first</a>.</p>
            {% else %}
            <p class="meta">Most recent first. <a href="?search={{ search_text|urlencode:'' }}&order_by=popularity&page={{ search_results.number }}">Change to most popular first</a>.</p>
            {% endif %}
            <p>&nbsp;</p>
            {% include 'archiver/_tunepreviews.html' with tunes=search_results id_prefix='search' empty_message='No matches found' %}
            </div>
        </div>
    </div>
</div> 
{% endblock %}
