{% extends "archiver/base.html" %}

{% block title %}Tunes{% endblock %}

{% block content %}
{% load widget_tweaks %}
<div id="search">
    <div id="search-tune" class="section">
        <div class="section-meta">
        <h2>Tune search</h2>
        {% if search_results.paginator.num_pages > 1 %}
        <p class="meta">Page {{ search_results.number }} of {{ search_results.paginator.num_pages }}<br>
        {% if search_results.has_previous %}<a href="?search={{ search_text|urlencode:'' }}&page={{ search_results.previous_page_number }}">previous</a>{% endif %}{% if search_results.has_previous and search_results.has_next %} | {% endif %}{% if search_results.has_next %}<a href="?search={{ search_text|urlencode:'' }}&page={{ search_results.next_page_number }}">next</a>{% endif %}</p>
        {% endif %}
        </div>
        <div class="section-body">
            <form method="get" class="pure-form"> 
            <div class="pure-u-17-24">
                {% render_field tunesearch_form.search class+="pure-input-1" title="Search text in title, notes" placeholder=search_placeholder %}
            </div>
            <div class="pure-u-1-4">
                <input type="submit" value="Search" class="pure-button pure-button-primary pure-input-1"/>
            </div>
            </form>
            <div id="search-results">
            {% if search_results %}
            {% include 'archiver/_tunepreviews.html' with tunes_settings=search_results id_prefix='search' %}
            {% else %}
            <p class="meta">Search through tunes, settings of those tunes, or their notes or comments.
            {% endif %}
            </div>
        </div>
    </div>
</div> 
<div id="activity">
    <div id="recent-tunes" class="section">
        <div class="section-meta">
        <h2>Recent tunes</h2>
        </div>
        <div class="section-body">
            {% include "archiver/_tunepreviews.html" with tunes_settings=recent_tunes%}
        </div>
    </div>
    <div id="recent-comments"  class="section">
        <div class="section-meta">
            <h2>Recent comments</h2>
        </div>
        <div class="section-body">
            {% include "archiver/_commentpreviews.html" %}      
        </div>
    </div>
</div>
{# Can't put this inline as render_field trips on the quotes #}
<script type="text/javascript">
    document.getElementById('id_search').addEventListener('input', function() {
        document.getElementById('search-results').innerHTML = ''
    }, false);
</script>
{% endblock %}
